@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Customize styles -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- font awesome styles -->
    <link href="~/fonts/css/font-awesome-ie7.min.css" rel="stylesheet">
    <link href="~/fonts/css/font-awesome.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/fonts/ico/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="topNav">
                <div class="container">
                    <div class="alignR">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()


                                <a href="@Url.Action("Login","Account")"><span class="icon-user"></span>Welcome @User.Identity.GetUserName()</a>
                                @Html.Action("GioHangPartial", "Shop")


                                <div class="w3-dropdown-hover">
                                    <a href="#"><span class="icon-signout"></span>Cài đặt</a>

                                    <div class="w3-dropdown-content w3-bar-block w3-border">
                                        <a href="#" class="w3-bar-item w3-button">Cài đặt tài khoản </a>
                                        <a href="#" class="w3-bar-item w3-button">Đơn mua</a>
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="w3-bar-item w3-button">Đăng xuất</a>
                                    </div>
                                </div>



                            }
                        }
                        else
                        {

                            <a href="@Url.Action("Login","Account")"><span class="icon-signin"></span> ĐĂNG NHẬP</a>
                            <a href="@Url.Action("Register","Account")"><span class="icon-sign-blank"></span> ĐĂNG KÝ </a>
                            @Html.Action("GioHangPartial", "Shop")

                        }




                    </div>
                </div>
            </div>
        </div>
        <div id="gototop"> </div>
        <header id="header">
            <div class="row">
                <div class="span4">
                    <h1>
                        <a class="logo" href="@Url.Action("Index","Shop")">

                            <img src="~/images/logo-bootstrap-shoping-cart.png" style="width: 280px" alt="bootstrap sexy shop">
                        </a>
                    </h1>
                </div>
                <script src="~/Scripts/jquery-3.3.1.min.js"></script>
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

                <div class="navbar-search pull-left">

                    <input type="text" placeholder="Search" class="search-query span2" style="width:463px; padding:14px 14px; margin: 16px" id="searchInput" />
                </div>


                <script>
    function onItemSelect(item){
   var siteRootUrl = '@Url.Content("~/")';
   window.location.href = siteRootUrl + 'Shop/ChiTietSanPham/' + item;
}
    $("#searchInput").autocomplete({
        source: function (request, response)
        {
            $.ajax({
                url: '@Url.Action("Search", "Shop")',
                dataType: "json",
                data: { search: $("#searchInput").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.TenSach, value: item.TenSach, MaSach: item.MaSach };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }

            });
        },
        select: function (event, ui) {
            onItemSelect(ui.item.MaSach);
        }


    });
                </script>



            </div>
        </header>

        <!--
        Navigation Bar Section
        -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class=""><a href="@Url.Action("Index","Shop")">TRANG CHỦ</a></li>
                            <li class=""><a href="@Url.Action("DanhSach","Shop")">DANH SÁCH</a></li>
                            <li class=""><a href="@Url.Action("LienHe","Shop")">LIÊN HỆ</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!--
        Body Section
        -->
        <div class="row">
            <div id="sidebar" class="span3">
                <div class="well well-small">
                    <ul class="nav nav-list">
                        <p style="font-size: 20px; text-align:center"> CHỦ ĐỀ</p>
                        <hr style="border-top:1px solid black">
                        @Html.Action("Chude", "Shop")
                        <br />
                        <p style="font-size: 20px; text-align:center">NHÀ XUẤT BẢN</p>
                        <hr style="border-top:1px solid black">
                        @Html.Action("Nhaxuatban", "Shop")
                        <li style="border:0"> &nbsp;</li>

                </div>

                </ul>

            </div>
            @RenderBody()
        </div>
    </div>
    <!--
    Footer
    -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.easing-1.3.min.js"></script>
    <script src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="~/Scripts/shop.js"></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
</body>
</html>