@model WebApplication1.Models.Sach

@{
    ViewBag.Title = "Chitietsach";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminHeader.cshtml";
}



<div class="form-horizontal">
    <br />
    <h2 style="text-align:center;margin-left:10px">CHI TIẾT SÁCH</h2>
    <dl class="form-group" style="margin: 2% 25%;">
        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.price) VND
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anhbia)
        </dt>

        <dd>
            <img src="@Url.Content("~/images/" + Model.Anhbia)" width="120px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNXB)
        </dd>

    </dl>
    <div class="form-group" style="margin: 2% 25%;">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-dark">
                @Html.ActionLink("ĐIỀU CHỈNH", "Suasach", new { id = Model.MaSach }) |
            </button>
            <button class="btn btn-dark">
                @Html.ActionLink("TRỞ VỀ", "Sach")
            </button>
        </div>
    </div>

</div>

