@model WebApplication1.Models.Sach

@{
    ViewBag.Title = "Chitietsach";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminHeader.cshtml";
}



<div class="form-horizontal">
    <br />
    <h2 style="text-align:center;margin-left:10px">CHI TIẾT SÁCH</h2>
    <dl class="form-group" style="margin: 2% 25%;">
        <dt>
          Tên sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.price) VND
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
           Ảnh sách
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/images/" + Model.Anhbia)" width="120px" />
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
          Số lượng trong kho
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            Tên chủ đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuDe.TenChuDe)
        </dd>

        <dt>
            Tên nhà sản xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan.TenNXB)
        </dd>

    </dl>
    <div class="form-group" style="margin: 2% 25%;">
        <div class="col-md-offset-2 col-md-10">

            @Html.ActionLink("ĐIỀU CHỈNH", "Suasach", new { id = Model.MaSach }, new { @class = "btn btn-dark" })

            @Html.ActionLink("TRỞ VỀ", "Sach", null , new { @class = "btn btn-dark" })

        </div>
    </div>

</div>

