@model IEnumerable<WebApplication1.Models.DonDatHang>

@{
    ViewBag.Title = "DonHang";
    Layout = "~/Views/Shared/_LayoutAdminHeader.cshtml";
}

<div class="container">
    <br />

    <h3 style="text-align:center">QUẢN LÝ ĐƠN HÀNG</h3>
    <table class="table table-striped table-bordered dataTable no-footer">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDonHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDatHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhToan)
            </th>
            <th>Thao tác</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDatHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhToan)
            </td>
        
          
            <td>
                <a data-toggle="modal" data-target="#myModal1" style="display: inline-block">
                    <button title="Xác nhận" type="button" class="btn btn-xs btn-danger btn-round text-center">
                        xác nhận

                    </button>
                </a>
                <a href="">
                    <button title="Hủy" class="btn btn-xs btn-info btn-round text-center">
                        Hủy
                    </button>
                </a>
            </td>
            
        </tr>
        }

    </table>
    </div>