@model WebApplication1.Models.Sach

@{
    ViewBag.Title = "Suasach";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminHeader.cshtml";
}



@using (Html.BeginForm("Suasach", "Admin", new { area = "Admin" }, FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="width: 100%;">
    <br />
    <br />
    <h2 style="text-align:center;margin-left:10px">SỬA THÔNG TIN SÁCH</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaSach)

    <div class="form-group" style="margin: 2% 25%;">
        <h5>Tên sách</h5>
        <div class="col-md-10" style="max-width: 80%;border: 0.25px solid black;">
            @Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenSach, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="margin: 2% 25%;">
        <h5>Giá </h5>
        <div class="col-md-10" style="max-width: 50%;border: 0.25px solid black">
            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="margin: 2% 25%;">
        <h5>Mô tả</h5>
        <div class="col-md-10" style="max-width: 100%;">
            <textarea name="Mota"> @Model.Mota </textarea>
        </div>
    </div>


    <div class="form-group" style="margin: 2% 25%;">
        <h5> Ảnh</h5>
        <div class="col-md-10" style="max-width: 100%">
            <input type="file" name="fileupLoad" />
            <img src="@Url.Content("~/Content/images/" + Model.Anhbia  )" style="width:50%">(Ảnh hiện tại)

            @ViewBag.Thongbao
        </div>
    </div>

    <div class="form-group" style="margin: 2% 25%;">
        <h5>Ngày cập nhật</h5>
        <div class="col-md-10" style="max-width: 100%">
            <input type="date" name="Ngaycapnhat" />
            @Html.ValidationMessageFor(model => model.NgayCapNhat)
        </div>
    </div>
    <div class="form-group" style="margin: 2% 25%;">
        <h5>Tác giả</h5>
        <div class="col-md-10" style="max-width: 100%">
            <input type="hidden" name="MaTG" id="MaTG" value="" class="form-control text-box single-line" />
            <input type="text" name="TenTg" id="TenTg" class="form-control text-box single-line" />
        </div>
    </div>

    <div class="form-group" style="margin: 2% 25%;">
        <h5>Số lượng tồn</h5>
        <div class="col-md-10" style="max-width: 50%;border: 0.25px solid black">
            @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="margin: 2% 25%;">
        <h5>Tên chủ đề</h5>
        <div class="col-md-10" style="max-width: 100%">
            @Html.DropDownList("MaCD")
        </div>
    </div>

    <div class="form-group" style="margin: 2% 25%;">
        <h5>Tên nhà xuất bản</h5>
        <div class="col-md-10" style="max-width: 100%">
            @Html.DropDownList("MaNXB")
        </div>
    </div>

    <div class="form-group" style="margin: 2% 25%;">
        <div class="col-md-offset-10 col-md-10">
            <input type="submit" value="LƯU" class="btn btn-dark" />
            @Html.ActionLink("TRỞ VỀ", "Sach", null, new { @class = "btn btn-dark" })


        </div>
    </div>
</div>

}


