@model IEnumerable<ProjectWebShop.Models.phone>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.typePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nhaSanXuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngaySanXuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.des)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.luotTruyCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soLuong)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nhaSanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.img_url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaySanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.des)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.luotTruyCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
