@model WebApplication1.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassWord";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <span class="login100-form-title p-b-49">
        QUÊN MẬT KHẨU
    </span>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-7 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit" class="login100-form-btn">
                XÁC NHẬN
            </button>
        </div>
    </div>
    <div style="font-family:'Times New Roman'">
        <a href="@Url.Action("Login","Account") " style="font-family:'Times New Roman'">
            Quay về trang đăng nhập
        </a>
    </div>
    <div style="font-family:'Times New Roman'">
        <a href="@Url.Action("Index","Shop") " style="font-family:'Times New Roman'">
            Quay về trang chủ
        </a>
    </div>
}

