


@using WebApplication1.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Hidden("returnUrl", @Request.QueryString)
    @Html.AntiForgeryToken()
    <span class="login100-form-title p-b-49">
        ĐĂNG NHẬP
    </span>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-7 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-7 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
    </div>

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
                ĐĂNG NHẬP
            </button>
        </div>
    </div>
    <br />
    <div style="font-family:'Times New Roman'">
        <p>
            @Html.ActionLink("Bạn chưa có tài khoản?", "Register")
        </p>
    </div>

    @* Enable this once you have account confirmation enabled for password reset functionality*@
    <p>
        @Html.ActionLink("Bạn quên mật khẩu?", "ForgotPassword")
    </p>
    <div>
        <a href="@Url.Action("Index","Shop") " style="font-family:'Times New Roman'">
            Quay về trang chủ
        </a>
    </div>

}
