@model WebApplication1.Models.Sach

@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li>THÔNG TIN CHI TIẾT<span class="divider">/</span></li>
      
        
        <li class="divider">@Model.TenSach</li>
    </ul>
    <div class="well well-small">
        <div class="row-fluid">
            <div>
                <div class="span5">
                    <div id="myCarousel" class="carousel slide cntr">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="#"> <img src="~/images/@Model.Anhbia" alt="" style="width:100%"></a>
                            </div>
                            <div class="item">
                                <a href="#"> <img src="~/images/@Model.Anhbia" alt="" style="width:100%"></a>
                            </div>
                            <div class="item">
                                <a href="#"> <img src="~/images/@Model.Anhbia" alt="" style="width:100%"></a>
                            </div>
                        </div>
                        <br />
                        <a class="shopBtn" href="@Url.Action("ThemGiohang","Shop",new { @gh_Masach = Model.MaSach, @strURl = Request.Url.ToString()})" title="add to cart"> Add to cart </a>

                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>

                </div>
              
            </div>
            <div class="span7">
                <h3>@Model.TenSach</h3>
                <hr class="soft" />

                <form class="form-horizontal qtyFrm">
              
                    <div class="control-group">
                        <label class="control-label">Giá cả:</label>
                        <div class="controls">

                            <span>@String.Format("{0:0,0}", Model.price) VND</span>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label">Mô tả sản phẩm: </label>
                        <div class="controls">
                            <span>@Model.Mota</span>
                        </div>
                    </div>


                    
                </form>
            </div>
        </div>
        <hr class="softn clr" />
    </div>

</div>
</div>
</div> <!-- Body wrapper -->
<!--
Clients
-->
<!--
Footer
-->
</div>

