
@{
    ViewBag.Title = "DonHangChoXacNhan";
    Layout = "~/Views/Shared/_LayoutGioHang.cshtml";
}

<div class="container" style="max-width: 100%;">


    <h3 style="text-align:center">ĐƠN HÀNG CHỜ XÁC NHẬN</h3>
    <table class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable-buttons_info">

        <tr style="background-color: gray;font-size: 14px">
            <th>
                TÊN SÁCH
            </th>
            <th>
                SỐ LƯỢNG
            </th>
            <th>
                GIÁ
            </th>
            <th>
                TỔNG GIÁ
            </th>
            <th>
                NGÀY ĐẶT
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Sach.TenSach
                </td>
                <td>
                    @item.SoLuong
                </td>
                <td style="width:15%">
                    @String.Format("{0:0,0}", item.DonGia) VND

                </td>
                <td style="width:15%">
                    @String.Format("{0:0,0}", item.Price) VND
                </td>
                <td>
                    @item.DonDatHang.NgayDatHang
                </td>

            </tr>
        }
    </table>
</div>


