@model IEnumerable<WebApplication1.Models.Sach>
@{
    Layout = null;
}
@helper Truncate(String input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}   
<!DOCTYPE html>


<div class="well well-small">
    <h3>SÁCH TIÊU BIỂU </h3>
    <hr class="soften" />
    <div class="row-fluid">
        <ul class="thumbnails">
            @foreach (var item in Model)
            {
                <li class="span4" style="margin-left:0;">
                    <div class="thumbnail">
                        <a class="zoomTool" href="@Url.Action("ChiTietSanPham","Shop", new { id = item.MaSach})" style="font-size:10px"><span class="icon-search"></span> XEM CHI TIẾT</a>
                        <a href="@Url.Action("ChiTietSanPham","Shop", new { id = item.MaSach})"><img src="~/Content/images/@item.Anhbia" style="height:120px" alt=""></a>
                        <div class="caption cntr">
                            <h5>@Truncate(item.TenSach, 30)</h5>
                            <p style="color: red">
                                Giá :<strong>
                                    @String.Format("{0:0,0}", item.price) VND
                                </strong>
                            </p>
                            <h4><a class="shopBtn" href="@Url.Action("ThemGiohang","Shop",new { @gh_Masach = @item.MaSach, @strURl = Request.Url.ToString()})">Thêm vào giỏ hàng </a></h4>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>


