@using WebApplication1.Models
@model List<Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutGioHang.cshtml";
}

<div class="row">
    <div class="span12">
           <div class="well well-small">

            <hr class="soften" />

            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Loại điện thoại</th>
                        <th>Giá</th>
                        <th>Nhà sản xuất</th>
                        <th>Hình ảnh</th>

                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th></th>
                        <th></th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>@item.gh_phoneName</td>
                        <td>@item.gh_typePhone </td>
                        <td>@String.Format("{0:0,0}", item.gh_price)</td>
                        <td>@item.gh_nhaSanXuat</td>
                        @using (Html.BeginForm("CapNhatGioHang", "Shop", new { gh_idPhone = item.gh_idPhone }))
                        {
                        <td><img width="100" src="~/images/@item.gh_img_url" alt=""></td>
                            <td>
                            <div class="quantity buttons_added">
                                <input type="number" name="txtSoluong" class="input-text qty text" style="width: 50px; text-align:center" value="@item.gh_soLuong" min="0"  step="1">
                                        </div>
                        </td>
                        <td>@String.Format("{0:0,0}", item.gh_ThanhTien)</td>
                        <td>@Html.ActionLink("Xóa", "XoaGioHang", new { gh_idPhone = item.gh_idPhone })</td>
                        <td><input type="submit" value="Cập nhật" /></td>
                        }
                    </tr>
                    }
                        <tr style="font-weight: bold; text-align: center; color:red">
                            <td>Tổng: </td>
                            <td colspan="5"> Số lượng : @ViewBag.Tongsoluong</td>
                            <td colspan="5">Tổng tiền :@String.Format("{0:0,0}", ViewBag.Tongtien) VND</td>
                        </tr>
                    <tr >
                        <td colspan="10" style="font-weight: bold; text-align: right; text-decoration: none"> @Html.ActionLink("Xóa giỏ hàng", "XoaTatCaGioHang")</td>

                    </tr>

                </tbody>
            </table><br />




            <a href="@Url.Action("Index","Shop")" class="shopBtn btn-large"><span class="icon-arrow-left"></span>Tiếp tục mua sắm </a>
            <a href="@Url.Action("Login","Account")" class="shopBtn btn-large pull-right">Thanh toán <span class="icon-arrow-right"></span></a>

        </div>
    </div>
</div>

