@model WebApplication1.Models.KhachHang

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h4>KhachHang</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
    
        
    
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DiachiKH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DiachiKH)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DienThoaiKH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DienThoaiKH)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaKH }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
